<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.9.1">
  <compounddef id="class_monitored_data_mapper" kind="class" language="C++" prot="public">
    <compoundname>MonitoredDataMapper</compoundname>
    <basecompoundref prot="public" virt="non-virtual">QDataWidgetMapper</basecompoundref>
    <includes refid="monitoreddatamapper_8h" local="no">monitoreddatamapper.h</includes>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="class_monitored_data_mapper_1a421f36fe4f05caf4345986a1a31aa258" prot="public" static="no" const="no" explicit="yes" inline="no" virt="non-virtual">
        <type></type>
        <definition>MonitoredDataMapper::MonitoredDataMapper</definition>
        <argsstring>(QObject *parent=0)</argsstring>
        <name>MonitoredDataMapper</name>
        <param>
          <type>QObject *</type>
          <declname>parent</declname>
          <defval>0</defval>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" line="18" column="1" bodyfile="/home/dev/ds-160209/src/qt/monitoreddatamapper.cpp" bodystart="7" bodyend="10"/>
      </memberdef>
      <memberdef kind="function" id="class_monitored_data_mapper_1a5ddfc6ef4e955211948c7b24994dfd7e" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void MonitoredDataMapper::addMapping</definition>
        <argsstring>(QWidget *widget, int section)</argsstring>
        <name>addMapping</name>
        <param>
          <type>QWidget *</type>
          <declname>widget</declname>
        </param>
        <param>
          <type>int</type>
          <declname>section</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" line="20" column="1" bodyfile="/home/dev/ds-160209/src/qt/monitoreddatamapper.cpp" bodystart="12" bodyend="16"/>
        <referencedby refid="class_i2_p_options_widget_1ae87e45f309b5a3abd782f3b6020eac4f" compoundref="i2poptionswidget_8cpp" startline="46" endline="65">I2POptionsWidget::setMapper</referencedby>
        <referencedby refid="class_options_dialog_1a2088ec5bbb90ec27675f441e750e55b8" compoundref="optionsdialog_8cpp" startline="142" endline="174">OptionsDialog::setMapper</referencedby>
      </memberdef>
      <memberdef kind="function" id="class_monitored_data_mapper_1af70ac6e3d3b891cadb8a4c4b8695d4cc" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void MonitoredDataMapper::addMapping</definition>
        <argsstring>(QWidget *widget, int section, const QByteArray &amp;propertyName)</argsstring>
        <name>addMapping</name>
        <param>
          <type>QWidget *</type>
          <declname>widget</declname>
        </param>
        <param>
          <type>int</type>
          <declname>section</declname>
        </param>
        <param>
          <type>const QByteArray &amp;</type>
          <declname>propertyName</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" line="21" column="1" bodyfile="/home/dev/ds-160209/src/qt/monitoreddatamapper.cpp" bodystart="18" bodyend="22"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="private-func">
      <memberdef kind="function" id="class_monitored_data_mapper_1a1ed42b9f6daf2711ac7fe49e5e2c79ed" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void MonitoredDataMapper::addChangeMonitor</definition>
        <argsstring>(QWidget *widget)</argsstring>
        <name>addChangeMonitor</name>
        <param>
          <type>QWidget *</type>
          <declname>widget</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" line="24" column="1" bodyfile="/home/dev/ds-160209/src/qt/monitoreddatamapper.cpp" bodystart="24" bodyend="35"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="signal">
      <memberdef kind="signal" id="class_monitored_data_mapper_1af1088f1181f9c77eb7d1d4be41a80ca8" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void MonitoredDataMapper::viewModified</definition>
        <argsstring>()</argsstring>
        <name>viewModified</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" line="27" column="1"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
<para>Data to Widget mapper that watches for edits and notifies listeners when a field is edited. This can be used, for example, to enable a commit/apply button in a configuration dialog. </para>    </detaileddescription>
    <inheritancegraph>
      <node id="3326">
        <label>QDataWidgetMapper</label>
      </node>
      <node id="3325">
        <label>MonitoredDataMapper</label>
        <link refid="class_monitored_data_mapper"/>
        <childnode refid="3326" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="3328">
        <label>QDataWidgetMapper</label>
      </node>
      <node id="3327">
        <label>MonitoredDataMapper</label>
        <link refid="class_monitored_data_mapper"/>
        <childnode refid="3328" relation="public-inheritance">
        </childnode>
      </node>
    </collaborationgraph>
    <location file="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" line="14" column="1" bodyfile="/home/dev/ds-160209/src/qt/monitoreddatamapper.h" bodystart="13" bodyend="28"/>
    <listofallmembers>
      <member refid="class_monitored_data_mapper_1a1ed42b9f6daf2711ac7fe49e5e2c79ed" prot="private" virt="non-virtual"><scope>MonitoredDataMapper</scope><name>addChangeMonitor</name></member>
      <member refid="class_monitored_data_mapper_1a5ddfc6ef4e955211948c7b24994dfd7e" prot="public" virt="non-virtual"><scope>MonitoredDataMapper</scope><name>addMapping</name></member>
      <member refid="class_monitored_data_mapper_1af70ac6e3d3b891cadb8a4c4b8695d4cc" prot="public" virt="non-virtual"><scope>MonitoredDataMapper</scope><name>addMapping</name></member>
      <member refid="class_monitored_data_mapper_1a421f36fe4f05caf4345986a1a31aa258" prot="public" virt="non-virtual"><scope>MonitoredDataMapper</scope><name>MonitoredDataMapper</name></member>
      <member refid="class_monitored_data_mapper_1af1088f1181f9c77eb7d1d4be41a80ca8" prot="public" virt="non-virtual"><scope>MonitoredDataMapper</scope><name>viewModified</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
